# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Data (excludes are in data/.gitignore)
# but we can double check
*.csv
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db
